[Unit]
Description=Frp Client Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/home/gjw/lab_frp/frpc -c  /home/gjw/lab_frp/frpc.ini
ExecReload=/home/gjw/lab_frp/frpc reload -c /home/gjw/lab_frp/frpc.ini

[Install]
WantedBy=multi-user.target
