[Unit]
Description=Frp Client Service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=/home/lixiangyu/lab_frp/frpc -c  /home/lixiangyu/lab_frp/frpc.ini
ExecReload=/home/lixiangyu/lab_frp/frpc reload -c /home/lixiangyu/lab_frp/frpc.ini

[Install]
WantedBy=multi-user.target
